nav{
  text-align: center;
  text-decoration-color:white;
  padding:15px;
  display:block;
  font-size: xx-large;
  background-color:black ;
}
body{
  background-color:paleturquoise;
  font-size: larger;
  font-family: 'Vidaloka', serif;
  font-family: 'Vidaloka', serif;
  font-family: 'Lalezar', cursive;
  font-family: 'Suranna', serif;
  
}
img{
  :border-radius100%;
  height:500px ;
  width: 50%;
  float:right;
  border-radius: 20%;
}
#card .cards img {
  float: none;
  width: 20%;
  height: 300px;
}
.cards {
  box-shadow: 5px 5px 5px gray;
  height: 250px;
  width: 20%;
  border-radius: 10%; 
  background-color: black;
  color:white;
  text-align: center;
  font-size: larger;
}
#card {
  display: flex;
  justify-content: space-around;
}
#About{
  padding-left: 100px;
  padding-right:300px ;
  padding-bottom: 100px;
  padding-top: 75px;
}
#footer{
  text-align: center;
}
#tech {
  text-align: center;

}
#project{
  text-align: center;
  
}
#hobbies{
  text-align: center;
}



/* #footer .contacts img {
  width: 65px;
  height: 65px;
  border-radius: 30px;
} */
.fa-facebook {
  background: #3B5998;
  color: white;
  margin: 50px;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
  margin: 50px;
}
.fa-instagram {
  background: #125688;
  color: white;
  margin: 50px;
}
.fa {
  padding: 30px;
  font-size: 30px;
  /* width: 30px; */
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

#footer {
  text-align: center;
  background-color: rgb(24, 4, 4);
  color: white;
  padding-bottom: 0px;
}